<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{title:'Edit Review'}) %>
    <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include('../partials/nav') %>
    
    <main>
        <form method="POST" action="/reviews/<%= kdramaId %>/<%= review._id %>?_method=PUT">
            <!-- title input -->
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" value="<%= review.title %>" required>

            <!-- author input -->
            <label for="author">Author: </label>
            <input type="text" id="author" name="author" value="<%= review.author %>" required>

            <!-- content input -->
            <label for="content">Content: </label>
            <textarea name="content" id="content" required><%= review.content %></textarea>

            <!-- rating input -->
            <div class="ratingDiv">
                <label for="rating">Rating: </label>
                <select name="rating" id="rating">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <input type="submit" value="Edit Review" class="submitButton">
            </div>
        </form>
    </main>
</body>
</html>