<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav') %>

    <main>
        <h1><%= review.title %></h1>
        <h4>By: <%= review.author %></h4>
        <p><%= review.content %></p>
        <h3>Rating: <%= review.rating %>/10</h3>
        <div class="buttons">
            <a href="/reviews/<%= kdramaId %>/<%= review._id %>/edit"><button>Edit</button></a>
            <form method="POST" action="/reviews/<%= kdramaId %>/<%= review._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
        </div>
        
    </main>
    
</body>
</html>