<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= kdrama.title %></title>
</head>
<body>
    <%- include('../partials/nav') %>

    <h1>Reviews for <%= kdrama.title %></h1>
    <ul class="kdramaReviews">
        <% for(let review of kdrama.reviews) {%>
                <li>
                    <h3><%= review.title %></h3>
                    <h5>Rating: <%= review.rating %>/10</h5>
                    <a href="/reviews/<%= kdrama.id %>/<%= review._id %>"><button>Learn More</button></a>
                </li>
            <% } %>
    </ul>
    

</body>
</html>