<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{title:'Review'}) %>
    <link rel="stylesheet" href="/styles/review-details.css">
</head>
<body>
    <%- include('../partials/nav') %>

    <main>
        <section>
            <h1><%= review.title %></h1>
            <p class="author">By: <%= review.author %></p>
            <div class="line"></div>
            <p class="content"><%= review.content %></p>
            <div class="buttons">
                <p>Rating: <%= review.rating %>/10</p>
                <a href="/reviews/<%= kdramaId %>/<%= review._id %>/edit"><button>Edit</button></a>
                <form method="POST" action="/reviews/<%= kdramaId %>/<%= review._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
        </div>
        </section>
        
        
    </main>
    
</body>
</html>