<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{title:kdrama.title}) %>
    <link rel="stylesheet" href="/styles/reviews.css">
</head>
<body>
    <%- include('../partials/nav') %>

    <main>
        <!-- Kdrama details -->
        <figure class="kdramaDetails">
            <img src="<%= kdrama.poster %>" alt="">
            <figcaption>
                <div class="line"></div>
                <h2><%= kdrama.title %></h2>
                <div class="figHead">
                    <p>Genre: <%= kdrama.genre %></p>
                    <p>Rating: <%= kdrama.rating %></p>
                </div>
                <div class="episodes">
                    <p>Seasons: <%= kdrama.seasons %></p>
                    <p>Episodes: <%= kdrama.episodes %></p>
                </div>
                <p class="synopsis">Synopsis: <br><%= kdrama.synopsis %></p>
                <!-- <div class="line"></div> -->
            </figcaption>
        </figure>

        <!-- reviews -->
        <section>
            <div class="line"></div>
            <div class="sectionHead">
                <h2>Reviews</h2>
                <a href="/reviews/<%= kdrama._id %>/new"><button class="btnCreate">Create A Review</button></a>
            </div>
            <ul class="kdramaReviews">
            <% for(let review of kdrama.reviews) {%>
                <li>
                    <p><%= review.title %></p>
                    <div class="reviewFooter">
                        <p>Rating: <%= review.rating %>/10</p>
                        <a href="/reviews/<%= kdrama._id %>/<%= review._id %>"><button>Review Details</button></a>
                    </div>
                    
                </li>
            <% } %>
        </ul>
        </section>
        
    </main>
    
    

</body>
</html>